@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * This file is for your main application CSS
 */ 


/* Custom media query for viewports narrower than 420px */
@media (max-width: 419px) {
    #welcome-notification {
        font-size: 75%; /* Half the original font size */
        line-height: 1.5;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.25em;
        background-color: #f0f0f0;
        color: #000000;
        text-align: center;
        
    }
}

.text-warning {
    color: rgb(255, 145, 0);
}

.text-warning:hover {
    color: rgb(255, 60, 0);
}

.text-danger {
    color: rgba(255, 0, 0, 0.747);
}

.text-danger:hover {
    color: rgb(255, 0, 0);
}

.text-success {
    color: rgb(0, 255, 0);
}

.text-success:hover {
    color: rgb(0, 128, 0);
}

.text-info {
    color: rgb(0, 0, 255);
}

.text-info:hover {
    color: rgb(0, 0, 128);
}


